*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 100px;
  background-color: #fff;
}

.header-box{
  height: 100%;
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
}

.profile-icon{
  margin-right: auto;
}

.header-nav{
  list-style: none;
  display: flex;
}

.header-nav-item{
  margin-left: 15px;
}

.main-visual{
  height: 400px;
  background-image: url(bicycle_image/01.jpg);
  background-position: center;
  background-size: cover;
}

main{
  width: 80%;
  margin: auto;
}

.section-about{
  margin-top: 50px;
}

h1{
  text-align: center;
}

.About-contents{
  display: flex;
}

.self-image{
  background-image: url(bicycle_image/02.jpg);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 40px;
}

.self-text{
  margin-top: 50px;
}